@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://localhost:7144/Admin/Student/List">View Student List</a>.</p>
</div>
